<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-offset-2-tablet">
    <div class="py-4">
      <div class="columns is-vcentered">
        <div class="column is-full-tablet is-9-desktop">
          <h1 class="is-size-1 has-text-centered has-font-walter">Welcome to<br />Murrtube!</h1>
        </div>
        <div class="column is-full-tablet is-3-desktop">
          <figure class="image mx-auto is-128x128">
            <img src=<%= asset_path('android-icon-192x192.png') %> />
          </figure>
        </div>
      </div>
      <div class="box has-background-murrtube-dark is-shadowless">
        <p class="py-4 is-size-4 has-text-centered has-font-walter">Welcome to Murrtube, the online hub for furry, pup, and kinkster communities to share and enjoy some good ol' raunchy porn.</p>
        <p class="py-4 is-size-5">From humble beginnings, we've grown to become a hub for AD folks, thanks to y'all. But how did we get here?</p>
        <p class="py-4 is-size-5">Let's take a step back to 2018. Backstory time!<br/>While there were plenty of sites catering to mainstream tastes, there were few options for those of us in the furry, pup, and kinkster communities. There was Twitter basically. What did we want really? A dedicated platform! That’s when we decided to take matters into our own hands and create Murrtube.</p>
        <p class="py-4 is-size-5">Since then, we've been providing a safe and welcoming space for our communities to post content and explore our interests. And with our recent major update, we're more committed than ever to providing the best possible service to our beloved users. Our platform is designed with user experience in mind, so you can spend less time navigating and more time getting off 😈</p>
        <p class="py-4 is-size-5">We're not just another porn site. Our mission is to celebrate the diversity and creativity of our unique communities, to let us express ourselves and connect with like-minded individuals. We believe that sexuality is such an important part of who we are, and we're dedicated to helping people explore and embrace their desires in a healthy, consensual, and super fun way!</p>
        <p class="py-4 is-size-5">So whether you're a furry seeking hot werewolf action, a pup wanting to see some obedient subs in action, or a kinkster curious about new fetishes, Murrtube has got you covered. And if you ever have any questions, feedback, or just want to chat, feel free to slide into our DMs. </p>
        <p class="py-4 is-size-5">We're always happy to hear from our users! Our team is committed to keeping Murrtube a vibrant and exciting place. We value your input so much and want to make sure that Murrtube continues to be a welcoming and inclusive platform for all our fluffs, pups, drones, horsies, femboys, ... everyone!</p>
        <h4 class="pt-4 is-size-4 has-font-walter">Thanks for being a part of the journey 💙</h4>
      </div>
    </div>
  </div>
</div>



