<% content_for :title, "Advertise - Murrtube" %>
<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-offset-2-tablet">
    <div class="py-4">
      <div class="columns is-vcentered">
        <div class="column is-full-tablet is-9-desktop">
          <h1 class="is-size-1 has-text-centered has-font-walter">Get your ad<br />on Murrtube</h1>
        </div>
        <div class="column is-full-tablet is-3-desktop">
          <figure class="image mx-auto is-128x128">
            <img src=<%= asset_path('android-icon-192x192.png') %> />
          </figure>
        </div>
      </div>
      <div class="box has-background-murrtube-dark is-shadowless">
        <h3 class="pb-4 is-size-4 has-font-walter">Show us the goods!</h3>
        <p class="py-2 is-size-6">
          Murrtube now offers ad space for businesses.
          <br />
          We only select ad campaigns that make sense for a crowd of horny goblins.
        </p>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Ad space where?</p>
          <p class="is-size-6">On Murrtube, when a campaign is running, the ads will be shown in one place only. The most important place: the video pages.</p>
          <br />
          <p class="is-size-6">Here's how it looks:</p>
          <br />
          <figure class="image mx-auto">
            <img src="https://storage.murrtube.net/murrtube-about/ad_space_desktop.png" style="border: 1px solid white" />
          </figure>
          <br />
          <p class="is-size-6">And on mobile devices: </p>
          <br />
          <figure class="image mx-auto" style="width: 30%">
            <img src="https://storage.murrtube.net/murrtube-about/ad_space_mobile.png" style="border: 1px solid white" />
          </figure>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">How do I get my ad there</p>
          <p class="is-size-6">Simply get in touch with us, on <a href="https://twitter.com/Murrtube" target="_blank">Twitter</a> or on <a href="https://t.me/MurrtubeSupport" target="_blank">Telegram</a>, let us know you wanna advertise and we'll talk about your project!</p>
          <br />
          <p class="is-size-6">We will determine if your website and your business or project is suitable for Murrtube.</p>
          <br />
          <p class="is-size-6">If we green light it, we will then ask you to fill a form with information about your campaign, as well as an image to display in the ad space. More details on that in the section about the ad image.</p>
          <br />
          <p class="is-size-6">When we're all good to go, we will just ask for upfront payment (prices below), and when this is received, your ad will start running on Murrtube!</p>
          <br />
          <p class="is-size-6">We will keep you updated as regularly as we can on how your campaign is doing in terms of views and clicks, through the same contact way you reached out to us.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">The ad image</p>
          <p class="is-size-6">It can be an image or a gif, with no playtime limit, but keep in mind that a shorter gif that gets straight to the point is better!</p>
          <br />
          <p class="is-size-6">It must be 1:1 aspect ratio</p>
          <p class="is-size-6">It must be less than 10MB in size</p>
          <p class="is-size-6">It must be at least 500x500px</p>
          <p class="is-size-6">It can be explicit content</p>
          <p class="is-size-6">It has to comply with Murrtube's <a href="https://about.murrtube.net/terms" target="_blank">Terms of use</a></p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">The money question</p>
          <p class="is-size-6">Murrtube offers one single flat rate: </p>
          <p class="is-size-6">40€ for 1 month, renewable.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Give me some numbers</p>
          <p class="is-size-6">As of May 2023, Murrtube reliably gathers 25.000 to 30.000 non unique video views per day, and that's how many times an ad will be shown to someone.<p>
          <p class="is-size-6">This amounts to 750K to 900K impressions per month approximately.<p>
          <p class="is-size-6">These impressions are equally balanced between all ongoing campaigns, but we will always try to keep the concurrent campaigns number to a maximum of 5.<p>
          <p class="is-size-6">This means you are paying for at least ~175K impressions per month but it can go up to almost a million if you're the only campaign at the time.<p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Some conditions and stuff</p>
          <p class="is-size-6">We retain the authority to terminate an ongoing campaign at our discretion, regardless of the reason. In such cases, we will refund a proportionate amount based on the remaining duration of the ad.</p>
          <p class="is-size-6">We reserve the right to decline any new advertisement at any time and for any reason.</p>
          <p class="is-size-6">Advertisements are offered on a "best effort" basis and are not guaranteed. In the event of site outages or unforeseen maintenance, refunds will not be granted. However, we are open to extending the duration of each campaign in such situations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
