<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-offset-2-tablet">
    <div class="py-4">
      <div class="columns is-vcentered">
        <div class="column is-full-tablet is-9-desktop">
          <h1 class="is-size-1 has-text-centered has-font-walter">Get in touch<br />with our team</h1>
        </div>
        <div class="column is-full-tablet is-3-desktop">
          <figure class="image mx-auto is-128x128">
            <img src=<%= asset_path('android-icon-192x192.png') %> />
          </figure>
        </div>
      </div>
      <div class="box has-background-murrtube-dark is-shadowless">
        <h3 class="pb-4 is-size-4">We're here to help or to hear your suggestions!</h3>
        <p class="py-2 is-size-6">You got an issue on Murrtube? A bug, something you don't understand, maybe?</p>
        <p class="py-2 is-size-6">Or maybe you have a suggestion! You wanna give us some feedback about your experience or have a crazy idea for the website?</p>
        <p class="py-2 is-size-6">Unless you're here to claim your right to access the data we hold about you, to peek or to have us purge it?</p>
        <p class="py-2 is-size-6">Option 4: You just wanna say hi and/or talk about Murrtube with us! Or anything else!</p>
        <h4 class="pt-4 is-size-5">For any of these things, you can reach out to us on Telegram!<br />Simply send a message over to <a href="https://t.me/MurrtubeSupport" target="_blank">@MurrtubeSupport</a>.</h4>
        <h4 class="pt-4 is-size-5">You can also slide into our <a href="https://twitter.com/murrtube" target="_blank">Twitter</a> DMs if you prefer!</h4>
        <h4 class="pt-4 is-size-5">We're there for ya! We will reply usually within 48 hours, but do allow up to 7 days (we're on vacation sometimes!)</h4>
      </div>
    </div>
  </div>
</div>
