<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-offset-2-tablet">
    <div class="py-4">
      <div class="columns is-vcentered">
        <div class="column is-full-tablet is-9-desktop">
          <h1 class="is-size-1 has-text-centered has-font-walter">Murrtube's<br />Cookie Policy</h1>
        </div>
        <div class="column is-full-tablet is-3-desktop">
          <figure class="image mx-auto is-128x128">
            <img src=<%= asset_path('android-icon-192x192.png') %> />
          </figure>
        </div>
      </div>
      <p class="py-2 has-text-right is-size-6">Effective date: 1 May, 2023</p>
      <div class="box has-background-murrtube-dark is-shadowless">
        <h3 class="pb-4 is-size-4 has-font-walter">This cookie policy explains how Murrtube ("we" or "us") uses cookies and similar technologies to collect and process personal data. By using our website, you consent to our use of cookies in accordance with this policy.</h3>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">What are cookies?</p>
          <p class="is-size-6">Cookies are small text files that are stored on your device when you visit a website. They are used to remember your preferences and to provide a better user experience. Cookies can be session cookies (which are deleted when you close your browser) or persistent cookies (which remain on your device for a set period of time).</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">What cookies do we use?</p>
          <p class="is-size-6">We use the following types of cookies on our website:</p>
          <p class="is-size-6">&emsp;- Age check cookie: This cookie is used to verify your age and to ensure that you are over 18 years old. It is stored for 30 days.</p>
          <p class="is-size-6">&emsp;- Session cookie: This cookie is used to keep you logged in to your account on our website. It is stored for 30 days.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">How can you control cookies?</p>
          <p class="is-size-6">You can control cookies through your browser settings. Most browsers allow you to refuse cookies or to delete them from your device. However, if you disable cookies, some features of our website may not function properly.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Changes to this policy</p>
          <p class="is-size-6">We reserve the right to update or modify this cookie policy at any time. If we make any material changes, we will notify you by posting a notice on the website.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Contact us</p>
          <p class="is-size-6">If you have any questions or concerns about this privacy policy, please contact us at [TODO insert contact information].</p>
        </div>
        <h4 class="pt-4 is-size-4 has-font-walter">By using Murrtube, you acknowledge that you have read and understood this cookie policy and agree to it.</h4>
      </div>
    </div>
  </div>
</div>

