<% content_for :title, "Privacy - Murrtube" %>
<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-offset-2-tablet">
    <div class="py-4">
      <div class="columns is-vcentered">
        <div class="column is-full-tablet is-9-desktop">
          <h1 class="is-size-1 has-text-centered has-font-walter">Murrtube's<br />Privacy Policy</h1>
        </div>
        <div class="column is-full-tablet is-3-desktop">
          <figure class="image mx-auto is-128x128">
            <img src=<%= asset_path('android-icon-192x192.png') %> />
          </figure>
        </div>
      </div>
      <p class="py-2 has-text-right is-size-6">Effective date: 1 May, 2023</p>
      <div class="box has-background-murrtube-dark is-shadowless">
        <h3 class="pb-4 is-size-4 has-font-walter">At Murrtube, we take your privacy seriously. This privacy policy outlines how Murrtube ("we" or "us") collect, use, and protect your personal information when you use our website. By using Murrtube, you agree to the terms of this privacy policy.</h3>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Information we collect</p>
          <p class="is-size-6">When you use Murrtube, we may collect the following personal information from you:</p>
          <p class="is-size-6">&emsp;- Username</p>
          <p class="is-size-6">&emsp;- Bio (optional)</p>
          <p class="is-size-6">&emsp;- Website (optional)</p>
          <p class="is-size-6">&emsp;- Avatar (optional)</p>
          <p class="is-size-6">&emsp;- Telegram ID</p>
          <p class="is-size-6">Additionally, we may collect information about your device, such as your IP address, browser type, and operating system.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">How we use your information</p>
          <p class="is-size-6">We use your personal information for the following purposes:</p>
          <p class="is-size-6">&emsp;- To create and manage your account</p>
          <p class="is-size-6">&emsp;- To personalize your experience on the website</p>
          <p class="is-size-6">&emsp;- To communicate with you about our services and updates</p>
          <p class="is-size-6">&emsp;- To monitor and analyze website usage</p>
          <p class="is-size-6">&emsp;- To prevent fraud and abuse</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">How we protect your information</p>
          <p class="is-size-6">We take the security of your personal information seriously and have implemented appropriate technical and organizational measures to protect it. However, please note that no method of transmission over the internet or method of electronic storage is 100% secure.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Disclosure of your information</p>
          <p class="is-size-6">We may disclose your personal information to third parties in the following circumstances:</p>
          <p class="is-size-6">&emsp;- To comply with legal obligations or requests</p>
          <p class="is-size-6">&emsp;- To protect the rights or safety of Murrtube or others</p>
          <p class="is-size-6">We do not sell or rent your personal information to third parties for their marketing purposes.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Retention of your information</p>
          <p class="is-size-6">We will retain your personal information for as long as necessary to provide our services and to comply with legal obligations. However, please note that some of your information may persist in encrypted backups for up to 7 days after you delete it from the website.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Changes to this policy</p>
          <p class="is-size-6">We reserve the right to update or modify this privacy policy at any time. If we make any material changes, we will notify you by email or by posting a notice on the website.</p>
        </div>
        <div class="py-2">
          <p class="is-size-5 has-text-weight-bold">Contact us</p>
          <p class="is-size-6">If you have any questions or concerns about this privacy policy, please <%= link_to "contact us", contact_us_path %>.</p>
        </div>
        <h4 class="pt-4 is-size-4 has-font-walter">By using Murrtube, you acknowledge that you have read and understood this privacy policy and agree to our collection, use, and disclosure of your personal information as described herein.</h4>
      </div>
    </div>
  </div>
</div>






